@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap');
.ReadableBox {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.controlBox {
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding:24px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 1rem;
    margin: 12px;
}
.controlBox h6{
  font-size:16px;
  font-weight: bold;
  color:#343a40;
  margin: 0 0 6px 0;

}

.controlBox .text{margin-right:18px;}

.currentValue{font-size:24px;font-family:'Poppins', sans-serif;    font-weight: bold;
  line-height: 1.2;}


.svg-icon {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    stroke: currentColor;
    --layer1: currentColor;
    --layer2: currentColor;
    --layer3: currentColor;
}

.d-flex{ color:#0d6efd;display: flex;justify-content: space-between;align-items: center; }
.hnAccbtn svg {width: 20px;
  height: 20px;
  vertical-align: top;
  stroke: currentColor;
  --layer1: currentColor;
  --layer2: currentColor;
  --layer3: currentColor;}
.hnAccbtn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 4px 8px;
  border-radius: 0.25rem;
  color:#0d6efd;
  border-color:#0d6efd;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.btnWarp { margin:10px 0 0;display: flex; justify-content: flex-end;}
.btnWarp .hnAccbtn + .hnAccbtn{margin-left:4px;}

.main{font-size:12px;}